/**
 * 进度条视图（Progress Bar）
 * 作者: 稻米鼠
 * 网站: https://zji.me/
 * 支持: https://afdian.com/a/daomishu
 * 仓库: 
 * 生成时间: 2025/2/24 09:40:36
 * 此文件由构建工具自动生成，请勿直接修改
 */

/* src/progress-bar/view.less */
label.dms-progress {
  display: flex;
  width: 100%;
  margin: 0.5rem auto;
  align-items: center;
  gap: 0.5rem;
  & > progress.dms-progress-bar {
    flex-grow: 1;
    height: .6rem;
    margin: .2rem 0;
  }
}
