/**
 * 进度条（Progress Bar）
 * 作者: 稻米鼠
 * 网站: https://zji.me/
 * 支持: https://afdian.com/a/daomishu
 * 仓库: https://github.com/dmscode/DMS-Dataview-Views
 * 创建时间: 2024-10-31
 * 生成时间: 2025-03-02
 * 用于显示完成度或进度信息，也可以显示年月周日的进度。
 */
/* src/progress-bar/view.less */
label.dms-progress {
  display: flex;
  width: 100%;
  margin: 0.5rem auto;
  align-items: center;
  gap: 0.5rem;
  & > progress.dms-progress-bar {
    flex-grow: 1;
    height: .6rem;
    margin: .2rem 0;
  }
}
